//.banner_image {



.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  //overflow: hidden;
  position: relative;
  text-align: center;
}

.h1 {
  font-weight: bold;
  color:black
}
